<div class="container">
  {{!-- dropdown --}}
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
      aria-expanded="false">
      類別
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <li><a class="dropdown-item" href="#">Action</a></li>
      <li><a class="dropdown-item" href="#">Another action</a></li>
      <li><a class="dropdown-item" href="#">Something else here</a></li>
    </ul>
  </div>
  {{!-- total money --}}
  <h2>總金額：</h2>

  {{!-- list group --}}
  {{#each records}}
  <ul class="list-group list-group-horizontal">
    <li class="list-group-item"><i class="{{this.categoryIcon}}"></i> {{this.name}} {{this.amount}}</li>
    <li class="list-group-item">{{this.date}}</li>
    <li class="list-group-item"><a href="/{{this._id}}/edit"> 修改 </a></li>
    <li class="list-group-item"><a href="/{{this._id}}/delete"> 刪除 </a></li>
  </ul>
  {{/each}}
  {{!-- new track --}}
  <a href="/new">新增支出</a>

</div>