<div class="container mt-5">
  <div class="row btn-list">
    <div class="col-sm new-btn">
      {{!-- new track --}}
      <form action="/records/new" method="GET">
        <button class="btn btn-secondary" type="submit">新增</button>
      </form>
    </div>
    <div class="col-sm dropdown">
      {{!-- dropdown --}}
      <form action="/records/filter" method="GET" class="category-btn">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
            data-bs-toggle="dropdown" aria-expanded="false">
            類別
          </button>
          <div class="dropdown-menu">
            <button type="submit" class="dropdown-item" name="filter" value="家居物業">家居物業</button>
            <button type="submit" class="dropdown-item" name="filter" value="交通出行">交通出行</button>
            <button type="submit" class="dropdown-item" name="filter" value="休閒娛樂">休閒娛樂</button>
            <button type="submit" class="dropdown-item" name="filter" value="餐飲食品">餐飲食品</button>
            <button type="submit" class="dropdown-item" name="filter" value="其他">其他</button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="record-list">
    <div class="totalAmount-title">
      {{!-- total money --}}
      <h2>總消費金額： {{totalAmount}} 元</h2>
    </div>
    {{#each records}}
    <div class="container-list">
      <div class="row">
        <div class="col-1"><i class="{{this.categoryIcon}}"></i> </div>
        <div class="col-4">
          <div class="row name-list">
            {{this.name}}
          </div>
          <div class="row name-list" style="font-size: 10px;">
            {{this.date}}
          </div>
        </div>
        <div class="col-3 amount-list">${{this.amount}}</div>
        <div class="col-2">
          <form action="/records/{{this._id}}/edit" method="get">
            <button class="btn btn-outline-primary" type="submit">修改</button>
          </form>
        </div>
        <div class="col-2">
          <form action="/records/{{this._id}}?_method=DELETE" method="POST">
            <button class="btn btn-outline-primary" type="submit" onclick="myFunction()">刪除</button>
          </form>
          <script>
            function myFunction() {
              alert("是否確定要刪除資料")
            }
          </script>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
  {{!-- list group --}}



</div>